body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #54636f;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}


/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
}

header h1 {
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
  font-weight: 100;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 70px;
}

/* Main Content
*/

#main_content {
  width: 100%;
  margin-bottom: 40px;
}

#main_content p, li {
  font-size: 16px;
  line-height: 1.428571429;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
}

#main_content h1 {
  font-size: 36px;
}

#main_content h2 {
  font-size: 30px;
}

#main_content h3 {
  font-size: 24px;
}

#main_content h4 {
  font-size: 20px;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Courier New", monospace;
  font-size: 13px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code {
  color: #54636f;
  background-color: #f6f6f6;
  padding: 2px 4px;
  font-size: 90%;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: #999;
  padding: 10px 22px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  color: #eee;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0px 8px 0 0;
  float: left;
}

.btn-github .icon {
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #0081c1;
  text-decoration: none;
}

a:hover, a:active {
  color: #004e75;
  text-decoration: none;
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
